name: Build Check

on: [push, pull_request]

jobs:
    build:
        strategy:
            matrix:
                # Use these Java versions
                java: [
                        17    # Minimum supported by Minecraft
                ]
                # and run on both Linux and Windows
                os: [ubuntu-20.04, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: checkout repository
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
                filter: tree:0
            - name: validate gradle wrapper
              uses: gradle/wrapper-validation-action@v1
            - name: setup jdk ${{ matrix.java }}
              uses: actions/setup-java@v1
              with:
                  java-version: ${{ matrix.java }}
            - name: make gradle wrapper executable
              if: ${{ runner.os != 'Windows' }}
              run: chmod +x ./gradlew
            - name: build
              run: ./gradlew build
            - name: capture build artifacts
              if: ${{ runner.os == 'Linux' && matrix.java == '17' }} # Only upload artifacts built from latest java on one OS
              uses: actions/upload-artifact@v2
              with:
                  name: Artifacts
                  path: build/libs/
